@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    body, html {
      @apply font-poppins;
    }

    /* Headings */
    h1 {
        @apply text-[2rem] font-semibold;
    }

    h2 {
        @apply font-semibold;
    }
}

